---
export interface Props {
  title: string;
}

const { title = "QuakeWorld Resources" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg:white text-black dark:bg-black dark:text-white">
    <div class="container bg-black/10 dark:bg-white/10 space-y-4">
      <slot />
      <div class="py-4">
        <a href="https://github.com/quakeworldnu/resources.quakeworld.nu"
          >Source on GitHub</a
        >
      </div>
    </div>
  </body>
</html>
