---
import DefaultLayout from './Default.astro'
const {frontmatter} = Astro.props;
---
<DefaultLayout title={frontmatter.title}>
    <div class="prose dark:prose-invert py-4">
        <h1>{frontmatter.title}</h1>
        <slot />
    </div>
</DefaultLayout>