---
import DefaultLayout from "./Default.astro";
const { frontmatter } = Astro.props;
---

<DefaultLayout title={frontmatter.title}>
  <div class="prose max-w-none dark:prose-invert py-4 prose-a:no-underline">
    <h1>{frontmatter.title}</h1>
    <slot />
  </div>
</DefaultLayout>
