---
import DefaultLayout from "./Default.astro";
const { frontmatter } = Astro.props;
---

<DefaultLayout title={frontmatter.title}>
    <div class="py-2">
        <h1 class="font-bold text-lg my-3">{frontmatter.title}</h1>
        <slot />
    </div>
</DefaultLayout>
